.previewer {
  height: 39vh;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;

  &__header {
    background-color: blue;
    color: white;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2em;
    padding: 10px 15px;
  }

  &__body {
    overflow: auto;
  }
}
